/* Affects ALL */


body {
    margin-top: 30px;
    background-image: url("https://ak2.picdn.net/shutterstock/videos/22371352/thumb/1.jpg");
   
    background-repeat: repeat-y;
    background-size: 100%;
    text-align: center;
}
h1 {
   
    font-family: 'Luckiest Guy', cursive;
    font-size: 60px;
    font-weight: bold;
    color: rgb(110, 226, 236);
  
}

h2, h4 {
    color: rgb(220, 223, 63);
    
 
    font-family: 'Luckiest Guy', cursive;
}

.jumbotron {
    background-image: url("https://images.pond5.com/game-show-background-loop-footage-089414224_iconl.jpeg");
    background-size: contain;
    background-repeat: repeat;
    opacity: .8;
  
}

#game {
    color: mediumspringgreen;
    font-size: 20px;
    font-family: 'Luckiest Guy', cursive;
}


.container {
    padding: 20px;
}

/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */


/* Button */

.button-color {
    background-color: rgb(26, 159, 248);
    border: none;
    margin: 5px;
}

.button-color:hover {
    background-color: rgb(206, 135, 105);
}

/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */


/* choices */
.choice {
    background-color: rgb(26, 167, 248);
    border: none;
    padding: 10px;
    margin: 5px;
}

.choice:hover {
    background-color: rgb(206, 135, 105);
}

.container-background {
    background-image: url("https://images.pond5.com/game-show-background-loop-footage-089414224_iconl.jpeg");
    
}

.margin-control {
    margin-top: 50px;
}

.marginSpace {
    margin-top: 10px;
}

