/* Affects All */

body {
	background-image: url(../images/game-show-background.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	position: auto;
	width: 100%;
    height: 100%;

}

.MultChoice {
    

    margin-bottom: 20px;;

}

.PhotosALL {
    border-left: solid white;
    border-bottom: solid white;
    border-right: solid white;
    
    
    
    }

.row {
        margin-bottom: 20px;
    }
    
.TextQuest {
        font-size: 20px;
        margin-top: 10px;
        border-bottom: solid rgb(219, 107, 107);
        border-top: solid rgb(255, 255, 255);
        
        margin-right: 100px;
        margin-left: 100px;
        
        }

/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */



/* Timer */
#counter {
    margin-left: 460px;
    font-size: 50px;
   border: solid white;
   background-image: linear-gradient(rgb(0, 174, 255), rgb(87, 244, 255));
   margin-bottom: 20px;
   width: 200px;
}



/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */



/* Button */

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    
  
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #submit {
    display: inline-block;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(204, 224, 20);
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px rgb(216, 162, 47);
    margin-bottom: 20px;

  }

  #submit:hover {background-color: #3c7e16}
  
  #submit:active {
    background-color: #8cc24e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */


/* Main container */
.ContImg {
    font-family: 'Luckiest Guy', cursive;
    margin-top: 180px;
    margin-bottom: 180px;
    text-align: center;
    background-image: linear-gradient(rgb(0, 255, 255), rgb(118, 87, 255));
 
    
    width: auto;
    height: auto;
    border: solid rgb(255, 217, 0);


}


/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */




/* Game Details */

.GameName {
    border-bottom: solid yellow;
    color: rgb(200, 218, 40);
    
    margin-bottom: 30px;
    background-image: linear-gradient(rgb(111, 0, 255), rgb(255, 115, 0));
    width: 100%;

    

}

.questions {
    font-size: 20px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  
    border: solid rgb(199, 24, 53);
    width: 90%;
    margin-bottom: 10px;
    

    
    
}





